.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navSectionImg img {
  width: 200px;
}
.ul {
  list-style: none;
  display: flex;
}
.items a {
  margin: 0 10px;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
}
.items a:hover {
  cursor: pointer;
}
