.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navSectionImg img {
  width: 200px;
}
.navSectionButton button {
  border: none;
  border-radius: none;
  background-color: white;
  margin: 0 10px;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}
.navSectionButton button:hover {
  cursor: pointer;
  text-decoration: underline;
}
