.container {
  display: none;
}
.conteinerInfo {
  background-color: #8d1c3d;
  display: flex;
}
.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.conteinerInfo h2 {
  color: white;
  font-size: 2rem;
}
.conteinerInfoSelection img {
  width: 200px;
  margin-top: 10px;
}
